# Exploration de Phoenix/Elixir<br />Bienvenue

Ce site me permet de partager ma découverte et mon exploration du framework [Phoenix/Elixir](). Ce site m'a semblé nécessaire face à l'absence presque totale de documentation sur le framework dans la langue de [Molière](https://fr.wikipedia.org/wiki/Molière).