body {
  max-width: 920px;
  margin: 0 4em 10em;
  border:1px solid brown;
  border-radius:0 0 1em 1em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 14pt;
  font-weight: normal;
}

header {
  position:relative;
  background-color: brown;
  color: antiquewhite;
  padding:0.5em 2em 0.5em 5em;
  font-size: 18pt;
  font-weight: bold;
  letter-spacing: 1.8px;
}

h1, h2, h3 {
  font-family: Geneva, Helvetica, Arial;
}

h1 {
  @apply mt-10 mb-20;
  font-size: 24pt;
}
h2 {
  margin-top:3em;
  margin-bottom:1.5em;
  font-size:20pt;
}

h3 {
  margin-top:2.4em;
  margin-bottom:1em;
  font-size:17pt;
}

body main {
  padding:2em;
}

div.nav-prev-next-pages {
  margin-top:2em;
  margin-bottom: 2em;
  text-align: right;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  min-height:24px;
}
div.nav-prev-next-pages span.page-prev {
  float:left;
}