<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Exploration" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white">
    <header>
      <img src={(~p"/") <> "images/logo.svg"}
        width="100" 
        style="position:absolute;top:20px;left:12px;" /> 
      <span class="text-base float-right">philippe perret</span>
      <.link href={~p"/"}>
      EXPLORATION DE PHOENIX.Elixir</.link>
    </header>
    <.flash_group flash={@flash} />
    <main><%= @inner_content %></main>
  </body>
</html>
